.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 5px;
}

.acordeon:hover {
    background-color: #3d2eb0;
    border: #3d2eb0;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    font-weight: 600;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('/assets/images/icons/down-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: .25s;
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
    display: inline-block;
    height: auto;
    padding: 0 1rem 1rem 2rem;
    opacity: 1;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

