#experience {
    margin: 0;
    padding: 0;
    list-style: none;
}

#experience li {
    margin-bottom: 1.5rem;
}

#experience li .period::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('../images/icons/calendar.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .5rem;
}