* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neuemachina-regular.otf');
}

body {
    background-color: #000;
    color: #fff;
}

.main {
    padding: 1rem;
    margin: .5rem;

    border: 1px solid #fff;
    border-radius: 1rem;
}