.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
    font-family: 'Neue Machina';
    font-size: 1.5rem;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    margin: 0.5rem;
}