#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

#portfolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
}

#portfolio li h3.github::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('/assets/images/icons/github.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .5rem;
}


